@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "MontserratAlternates";
    font-size:x-large;
    src: url('../font/MontserratAlternates-Bold.ttf') format("truetype");
}

.font_local {
    font-family: MontserratAlternates;
}


.menu-bar {
    @apply flex w-96 h-10 flex-col m-3 rounded-xl
    transition duration-300 transform border-2 border-purple-500
    hover:scale-105 hover:shadow-lg hover:bg-purple-400
   
}

.nav_menu_bar {
    @apply
    items-center pt-1.5 menu-bar hover:text-white
}

.admit-button{
    font-size : 1.1rem;
    color:aqua;
    border-width: 1px;
}

.submitButton{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.write-body{
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-wrap : wrap;
}

.uploader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
   
  }

  .upload-button {
      margin: 10px;
      font-size: 1.1rem;
    }


 .textarea-wrapper{   
        margin: 10px;
        margin-left: 20px; 
        border-width: 1px;
        display: flex;
        flex-direction: column;
    }

.text_title{    
     margin: 12px;
    } 
.text_content{
        margin:10px;
        width: 300px;
        height: 300px;
     
}